body{
    background-color: #212121;
}
.slider__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.slider{
    position: relative;
    height: 473px;
    width: 353px;
    background-color: #000;
    overflow: hidden;
}
.slider .video__play{
    width: 353px;
    height: 473px;
}
.photos{
    width: 100%;
    height: 100%;
    touch-action: pan-y;
}
.photos img{
width: 100%;
height: 100%;
touch-action: pan-y;

}
.newPhotos{
    transition: all .5s ease-in;
    opacity: 0.5;
}

.btn__left{
    left: 0;
}
.btn__left::after{
    content: "";
    background-image: url('./next.svg');
    width: 26px;
    height: 26px;
    left: 15px;
    position: absolute;
    top: 45%;
    transform: rotate(180deg);
}
.btn__left,.btn__right{
    top: 100px;
    border: none;
    outline: none;
    height: 275px;
    width: 50px;
    background: transparent;
    position: absolute;
    cursor: pointer;
}

.btn__right{
    position: absolute;
    right: 0;
}
.btn__right::after{
    content: "";
    background-image: url('./next.svg');
    width: 26px;
    height: 26px;
    right: 15px;
    position: absolute;
    top: 45%;
}
.btns button{
    padding: 5px;

}
.photos{
    display: none;
    transition: all 0.5 ease-in;

}
.active {
    transition: all 0.5 ease-in;
display: block;
}
.sliderGalery {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    height: 473px;
}
.sliderGalery__item img{
margin: 0 4px;
width: 115px;
height: 155px;
}
.sliderGalery__item video{
padding: 0 5px;
width: 115px;
height: 155px;
}
.active__gal img,
.active__gal video{
    border: 3px solid #fff;
}
.show{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    top: 0;
}
.show .active{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__show{
    background-color: #000;
    border: none;
    outline: transparent;
}
.show .btn__show img,
.show .btn__show iframe{
    width: 700px;
    height: 875px;
}

.slider .video__play{
    width: 353px;
    height: 473px;
}
.sliderGalery .video__play{
height: 100%;
height: 155px;
margin: 0 4px;

padding: 0;
}
.video__play{
    background-color: #000;
}
.show .btn__left,
.show .btn__right{
    height: 100vh;

}
.show .video__play{
   width: 700px;
   height: 875px;

}
.close__show{
    display: none;
}
.show .close__show{
    display: block;
}
.close__show::before{
content: '';
background-image: url('./close.svg');
background-size: 30px 30px;
width: 30px;
height: 30px;
position: absolute;
top: 30px;
right: 80px;
z-index: 9;
cursor: pointer;
}
.show .btn__left:hover,.show .btn__right:hover
{
    background-color: rgba(255, 255, 255, 0.3);
} 
.show .btn__left,.show .btn__right{
    top: 0;
    width: 60px;
}